.tnav{
    border-width: 1px 0;
    list-style: none;
    padding: 0 10px 0 10px;
    text-align: center;
	border: 1px solid black;
	border-width: 0 0 1px;
	color: rgb(174,166,153);
    font-size: large;
}

.tnav a{
    text-decoration: none;
    padding: 0 5px;
    font-family: abel;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.tnav a:visited{
    color: grey;
}

.firstWrap{
    background-image: url(portrait.png), -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: url(portrait.png), -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: url(portrait.png), -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: url(portrait.png), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: abel;
    color: rgb(174,166,153);
}

.header {
    background-color: yellowgreen;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div span { 
    font-size: 4em;
    text-align: center;
}

div p {
    color: black;
    text-align: center;
}

#skills {
    background-color: rgb(251, 237, 200);
    min-height: 60vh;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

i {
    font-size: 150px;
    width: 25%;
    padding: 20px;
}

.fa-html5 {color:rgb(221,75,37);}

.fa-css3-alt {color: rgb(30,144,255);}

.fa-js {color:rgb(237,215,24);}

.fa-react {color: rgb(97,218,251);}

.fa-php {color: rgb(119,123,179);}

.fa-angular {color: rgb(214,3,47);}

footer {
    margin-top: auto;
    padding: 2rem;
    background-color: black;
    text-align: center;
}

a i {
    font-size: 40px;
    width: fit-content;
    padding: 0px 0px 10px 0px;
    border: none;
    margin-right: 25px;
    color: rgb(174,166,153);
}
