html{scroll-behavior: smooth;}

#tnav{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    text-align: right;
    font-size: 20px;
    color: rgb(174,166,153);
    background-color:darkslateblue;
    transition: top 0.3s;
}

#tnav a{
    text-decoration: none;
    padding: 0 5px;
    font-family: abel;
    font-weight: 400;
    font-style: normal;
    color: rgb(174,166,153)
}

#tnav a:hover{
    color: lightblue;
    border-style: none none solid none;
    border-color: lightblue;
}

.firstWrap{
    background-image: url(portrait.png), -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: url(portrait.png), -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: url(portrait.png), -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: url(portrait.png), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 100%);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: abel;
    color: rgb(174,166,153);
}

#header {
    background-color: cadetblue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url('portrait.png'); */
    background-repeat: no-repeat;
    background-size: contain;
}

div span { 
    font-size: 4em;
    text-align: center;
}

div p {
    color: black;
    text-align: center;
}

#about {
    background-color: rgb(251, 237, 200);
    min-height: 1000px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
	color: darkslateblue;
	
}

#bio {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    
}

#ah3 {
    margin-bottom: 2px;
}

figure { 
    display: inline-block;
    width: 12%;
    margin-bottom: 1px;
}

i {
    font-size: 100px;
    padding: 20px;
}

.fa-html5 {color:rgb(221,75,37);}

.fa-css3-alt {color: rgb(30,144,255);}

.fa-js {color:rgb(237,215,24);}

.fa-react {color: rgb(97,218,251);}

.fa-php {color: rgb(119,123,179);}

.fa-angular {color: rgb(214,3,47);}

#experience {
    background-color: darkslateblue;
    min-height: 700px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
	padding-top: 15px;
	
}

#exp-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 500px;
    align-items: stretch;
    margin-top: 50px;
}

.btn-container {
    text-align: left;
    padding-top: 6%;
    padding-left: 25%;
}

input[type="button"] {
    padding: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    background: none;
    border-style: none none none solid;
    padding-left: 20px;
}

input[type="button"]:hover {
    color: lightblue;
    border-style: none none none solid;
    border-color: lightblue;
}

input[type="button"]:focus {
    color: lightblue;
    border-style: none none none solid;
    border-color: lightblue;
}

#job-container {
    text-align: left;
}

article h3 {
    margin-bottom: 0px;
}

#Google {
    display: block;
    
}

#Facebook {
    display: none;
    
}

#Turbo {
    display: none;
    
}

#Oreilly {
    display: none;
   
}

#portfolio {
    background-color: lemonchiffon;
    min-height: 100vh;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

#contact {
    background-color: darkslateblue;
}

a i {
    font-size: 40px;
    width: fit-content;
    padding: 0px 0px 10px 0px;
    border: none;
    margin-right: 25px;
    color: rgb(174,166,153);
}

a i:hover {
    color: lightblue;
}

#formstyle {
    top: 10%;
    left: 25%;
    width: 40%;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
    text-align: center;
}

.single-row {
    width: 100%;
}

.single-column {
    width: 49%;
    float: left;
    margin-right: 1%;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer {
    margin-top: auto;
    padding: 2rem;
    background-color: black;
    text-align: center;
}

.section-break {
  margin:50px;
  height:500px;
}

.section-heading {
  text-align:center;
  color:#102C4E;
  margin-top: 150px;
  margin-bottom:70px;
  font-size: 35px;
}

.column-1 {
  width: 90%;
  height: auto;
  padding-top:70px;
  padding-bottom:70px;
  margin:auto;
  margin-bottom:50px;
  margin-top: 75px;

}

/* Table formatting */
.table-style {
  width:100%;
  border-spacing: 24px;
}



.resumebutton{
	background-color: rgb(174,166,153);
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: darkslateblue;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	font-weight: bold;
}

.resumebutton:hover{
	background-color: #8B847A;
}

.resumebutton:active{
	background-color: #8B847A;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

/*Image hover overlay stuffs*/

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}