html{scroll-behavior: smooth;}

#tnav{
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 3vh;
    display: block;
    text-align: right;
    font-size: 20px;
    padding: 20px 0 20px 0;
    color: #fffacd;
    background-color: rgb(69, 58, 139);
    transition: top 0.3s;
	z-index: 99;
}

#tnav a{
    text-decoration: none;
    padding: 0 15px;
    font-family: abel;
    font-weight: 400;
    font-style: normal;
    color: #fffacd;
    transition: 0.3s;
}

#tnav a:hover{
    color: lightblue;
    border-style: none none solid none;
    border-color: lightblue;
    padding-bottom: 1px;
}

#symbol {
    position: absolute;
    top: 0;
    left: 20px;
    width: 80px;
}

@media (max-width: 480px) {
    #tnav {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    #tnav a {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    #symbol {
        left: 0px;
        width: 70px;
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: abel;
    color: #fffacd;
}

/* Header */
#header {
    background-color: darkslateblue;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

@media (max-width: 480px) {
    #header {
        min-height: 800px;
    }
}

div span { 
    font-size: 4em;
    text-align: center;
}

@media (max-width: 480px) {
    #headmain {
        position: relative;
        top: 80px;
    }
}

#headcap{
    color: lemonchiffon;
    font-size: 20px;
}

@media (max-width: 480px) {
    #headcap {
        position: relative;
        top: 90px;
    }
}

div p {
    color: black;
    text-align: center;
}

#portrait {
    margin-right: 50px;
}

@media (max-width: 480px) {
    #portrait {
        position: absolute;
        top: 120px;
        right: 40px;
        width: 250px;
        margin-bottom: 0;
    }
}

/* About Me */
#about {
    background-color: rgb(251, 237, 200);
    min-height: 1000px;
    text-align: center;
    padding: 25px;
    font-size: 30px;
	color: darkslateblue;
}

@media (max-width: 480px) {
    #about {
        min-height: 850px;
    }
}

#bio {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 20px;
}

@media (max-width: 480px) {
    #bio {
        margin-left: 15px;
    }
}

@media (max-width: 480px) {
    #bio br {
        display: none;
    }
}

#ah3 {
    margin-bottom: 2px;
}

figure { 
    display: inline-block;
    width: 12%;
    margin-bottom: 1px;
}

i {
    font-size: 100px;
    padding: 20px;
}

.fa-html5 {color:rgb(221,75,37);}

.fa-css3-alt {color: rgb(30,144,255);}

.fa-js {color:rgb(237,215,24);}

.fa-react {color: rgb(97,218,251);}

.fa-php {color: rgb(119,123,179);}

.fa-angular {color: rgb(214,3,47);}

@media (max-width: 480px) {
    figure {
        width: 7%;
        float: left;
    }
}

@media (max-width: 480px) {
    #ah3 {
        margin-bottom: 1px;
    }
}

@media (max-width: 480px) {
    i {
        font-size: 60px;
        align-items: center;
        margin-bottom: 1px;
    }
}

@media (max-width: 480px) {
    figcaption {
        width: 100px;
        text-align: center;
        font-size: 15px;
    }
}

/* Experience */
#experience {
    background-color: darkslateblue;
    height: 800px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    font-size: 30px;
	color: rgb(251, 237, 200);
}

@media (max-width: 480px) {
    #experience {
        height: 600px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    #experience h1 {
        font-size: 55px;
    }
}

#exp-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
    height: inherit;
    align-items: stretch;
    margin-top: 70px;
}

@media (max-width: 480px) {
    #exp-wrapper {
        grid-template-columns: 1fr;
    }
}

.btn-container {
    text-align: left;
    padding-top: 40px;
    padding-left: 40%;
}

@media (max-width: 480px) {
    .btn-container {
        position: relative;
        bottom: 30px;
        height: 50px;
        padding-top: 0;
        padding-left: 1px;
    }
}

input[type="button"] {
    display: block;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    background: none;
    border-style: none none none solid;
    padding-left: 20px;
    transition: ease-in-out 0.7s;
    color: lemonchiffon;
}

@media (max-width: 480px) {
    input[type="button"] {
        font-size: 13px;
        padding-left: 0;
        margin-right: 12px;
        margin-left: 10px;
        display: inline-block;
        border: 1px lightblue;
        border-style: none none solid none;
    }
}

input[type="button"]:hover {
    color: lightblue;
    border-style: none none none solid;
    border-color: lightblue;
}

input[type="button"]:focus {
    color: darkslateblue;
    border-style: none;
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
}

@media (max-width: 480px) {
    input[type="button"]:hover {
        color: darkslateblue;
        border-style: none;
        background-color: lightblue;
        padding: 15px;
        border-radius: 10px;
    }
}

#job-container {
    text-align: left;
}

article h3 {
    margin-bottom: 0px;
}

@media (max-width: 480px) {
    article {
        margin-top: 0;
        position: relative;
        bottom: 140px;
    }
}

#Google {
    display: block;
    
}

#Facebook {
    display: none;
    
}

#Turbo {
    display: none;
    
}

#Oreilly {
    display: none;
   
}

/* Portfolio */
#portfolio {
    background-color: rgb(251, 237, 200);
    min-height: 120vh;
    text-align: center;
    font-size: 30px;
	width: 100%;
}

@media (max-width: 480px) {
    #portfolio {
        min-height: 800px;
    }
}

/* Contact */
#contact {
    height: 800px;
    background-color: darkslateblue;
}

@media (max-width: 480px) {
    form h1 {
        font-size: 37px;
    }
}

#formstyle {
    top: 10%;
    left: 25%;
    width: 40%;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 480px) {
    #formstyle {
        width: 350px;
    }
}

.single-row {
    width: 100%;
}

.single-column {
    width: 49%;
    float: left;
    margin-right: 1%;
}

input[type=text],
input[type=email],
textarea {
    font-family: abel;
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid 2px;
    transition: 0.5s;
}

@media (max-width: 480px) {
    input[type=text],
    input[type=email],
    textarea {
        font-size: 15px;
    }
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}

footer {
    margin-top: auto;
    padding: 2rem;
    background-color: black;
    text-align: center;
	color: #fffacd;
}

a i {
    font-size: 40px;
    width: fit-content;
    padding: 0px 0px 10px 0px;
    border: none;
    margin-right: 25px;
    color: rgb(174,166,153);
    transition: 0.5s;
}

a i:hover {
    color: lightblue;
}

.section-break {
  margin:50px;
  height:500px;
}

.section-heading {
  text-align:center;
  color:#102C4E;
  margin-top: 150px;
  margin-bottom:70px;
  font-size: 35px;
}

.column-1 {
  width: 90%;
  height: auto;
  padding-top:70px;
  padding-bottom:70px;
  margin:auto;
  margin-bottom:50px;
  margin-top: 75px;

}

/* Table formatting */
.table-style {
  width:100%;
  border-spacing: 24px;
}

.resumebutton{
	background-color: rgb(251, 237, 200);
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: darkslateblue;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	font-weight: bold;
	transition: all 0.3s;
	font-size: 6px;
}

@media (max-width: 480px) {
    .resumebutton {
        margin-top: 0;
        position: relative;
        bottom: 100px;
        left: 160px;
        font-size: 3px;
    }
}

.resumebutton:hover{
	background-color: #DFDAB2;
}

.resumebutton:active{
	background-color: #D8D4AD;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.resumebutton span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s
}

.resumebutton span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -25px;
	transition: 0.3s;
}

.resumebutton:hover span{
	padding-right: 25px;
}

.resumebutton:hover span:after{
	opacity: 1;
	right: 0;
}

.submitbutton{
	background-color: lemonchiffon;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: darkslateblue;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 20px;
    transition: ease-in-out 0.3s;
}

@media (max-width: 480px) {
    .submitbutton {
        position: relative;
        bottom: 20px;
        font-size: 15px
    }
}

.submitbutton:hover {
    background-color: transparent;
    color: lemonchiffon;
    border: solid lemonchiffon;
}

/*Image hover overlay stuffs*/

.bigContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottomMiddle{
	width: 50%;
	height: 50%;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	top: 43%;
	left: 80px;
	align-content: center;
}

@media (max-width: 480px) {
    .bottomMiddle {
        position: relative;
        top: 200px;
        left: 80px;
        height: 150px;
        width: 300px;
        margin-left: 0;
    }
}

.topRight{
    width: 50%;
    height: 50%;
    padding: 10px;
	margin-left: auto;
    right: 0px;
    position: absolute;
}

@media (max-width: 480px) {
    .topRight {
        position: relative;
        top: 180px;
        left: 80px;
        height: 150px;
        width: 300px;
        margin-left: 0;
    }
}

.topLeft{
	width: 50%;
	height: 50%;
	float: left;
	left: 0px;
	margin-left: 100px; 
	padding: 10px;
	position: absolute;
	padding-left: 35px;
}

@media (max-width: 480px) {
    .topLeft {
        left: 91px;
        height: 150px;
        width: 300px;
        padding: 0;
        margin-left: 0;
    }
}

.containerOverlay{
	position: relative;
	width: 80%;
}

@media (max-width: 480px) {
    .containerOverlay {
        width: 80%;
    }
}

.imageOverlay{
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

@media (max-width: 480px) {
    .imageOverlay {
        display: flex;
    }
}

.overlay2 {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.4s;
	background-color: darkslateblue;
}

@media (max-width: 480px) {
    .overlay2 {
        height: 145px;
        width: 240px;
    }
}

.containerOverlay:hover .overlay2{
    opacity: 1;
}

.textOverlay{
    color: #fffacd;
  	font-size: 30px;
  	top: 50%;
  	left: 50%;
  	position: absolute;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  	text-align: center;
}

@media (max-width: 480px) {
    .textOverlay {
        font-size: 12px;
    }
}